
<div class="card card-custom" style=" width: 420px; height: 320px; ">

  <div class="card-body">
    <h1 class="card-title">Login user</h1>
    <form>
      <label>
        Email
      <input placeholder="email" type="email" id="email">

    </label>
    <label>
      Password
      <input placeholder="password" type="password" id="password">

    </label>
    </form>
  <button (click)="onClickMe()">Enter</button>
  </div>
</div>

<div class="login-background"> </div>



<router-outlet></router-outlet>
