<!DOCTYPE html>
<html lang = "en">
  <head>
    <!--<link rel="stylesheet" type="text/css" href="app.component.css">
    <meta charset="utf-8">-->
    <title>YourFace: Main menu</title>
  </head>
  <body>

    <!--Barra de menú-->
    <div class = "topBar" >
    <ul class = "menu">
    	<li>YourFace</li>
    </ul>
    </div>

    <hr>

    <!--Panel principal (Zona de carga)-->
    <div class="content">
      <h1>Yourface</h1>
      <form>
	      <p>Usuario:
          <input type="text" name="username">
	      </p>

	    <br>

	      <p>Contrasena:
          <input type="text" name="password">
	      </p>
      </form>
      <a href="main.html"><button type="button" onclick="alert('Iniciando sesion')">Iniciar sesion</button></a>
    </div>

    <!--Barra inferior (Versión y acerca de)-->
    <div class="bottomBar">
      <ul>
        <li>Beta 0.1</li>
        <li>About Us</li>
      </ul>
    </div>

	<p>
  		login-component works!
	</p>

	<router-outlet></router-outlet>

  </body>
</html>