p {
  font-size: 30px;
}

.card-body{
  padding: 10px 40px 10px 40px;
  text-align: center;
}


.login-background {

  background: url("http://medstack.co/content/uploads/2017/08/database.jpg") ;
  height: 800px;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0.3;
  margin-top: -500px;

}

.card-custom {
  margin: auto;
  margin-top: 10.3%;
  z-index: 3;
}


.log-btn {
  margin: auto;
  display: block;
}

label {
  margin-bottom: 19%;
}

h1 {
  text-align: center;
  margin-bottom: 5%;
  color: #45959c;
}

button {
  width: 200px;
  background: #45959c;
  color: white;
}

label{
  color: #45959c;
}
