<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html lang = "en">
  <body>
    <!--canvas id="myCanvas" width="1880" height="50" style="border:1px solid #d3d3d3;">
    </canvas-->
    <!--Barra de menú-->
    <div class = "bar" >
      <ul class = "menu">
        <li>YourFace</li>
      </ul>
      <ul class = "account">
        <li>username</li>
        <li>settings</li>
      </ul>
    </div>
    <!--Barra lateral izquierda-->
    <div class="content" style="text-align:center">
      <h1>
        Yourface
      </h1>
    </div>
    <!--Panel principal (Zona de carga)-->
    <div class = "panel">
      <h2>Menú</h2>
      <ul>
        <li>
          <h2>Upload Image</h2>
        </li>
        <li>
          <h2>My Images</h2>
        </li>
      </ul>
    </div>
    <button type="button" onclick="alert('Quiuvo')">Subir Imagen</button>
  </body>
</html>

