<!--Barra de menú-->
<div class = "topBar" >
  <ul class = "menu">
    <li>YourFace</li>
  </ul>
  <ul class = "account">
    <li>username</li>
    <li>settings</li>
  </ul>
</div>

<!--Panelprincipal (Zona de carga)-->
<div class = "panel">
  <h2>Menú</h2>
  <ul>
    <li>
      <h2>Upload Image</h2>
    </li>
    <li>
      <h2>My Images</h2>
    </li>
  </ul>
</div>



<button (click)="encode()"> hola </button>

<div id="image" style="height: 200px;">


</div>

<!--Barra lateral izquierda-->
<div class="content">
  <h1>
    Yourface
  </h1>

</div>
<!--button type="button" onclick="alert('Quiuvo')">Subir Imagen</button-->

<!--Barra inferior (Versión y acerca de)-->
<div class="bottomBar">
  <ul>
    <li>Beta 0.1</li>
    <li>About Us</li>
  </ul>
</div>
